    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>All customers</h1>
            
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">All Customers</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">All Customers</h3>
            
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      
                      <th >
                          Appartment Number
                      </th>
                      <th >
                          Bed Number
                      </th>
                      <th >
                          Room Type
                      </th>
                      <th >
                          Price
                      </th>
                      <th >
                          Deposit
                      </th>
                      <th >
                           Full Name
                      </th>
                      <th >
                           Checked-In
                      </th>
                      <th>
                           Checked-Out
                      </th>
                      <th >
                           Paid Rent
                      </th>
                      <th >
                           Paid Deposit
                      </th>
                      
                      <th >
                          Comments
                      </th>
                      <th style="width: 15%">
                      </th>
                  </tr>
              </thead>
              <tbody>
                  {{#each allcustomersarray}}
                    <tr>
                        {{#each this.roomid}}
                            <td>{{this.appartmentid}}</td>
                            <td>{{this.roomnumber}}</td>
                            <td>{{this.roomtypeid}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.deposit}}</td>
                        {{/each}}
                        <td>{{this.customerfullname}}</td>
                        <td>{{this.checkindate}}</td>
                        <td>{{this.checkoutdate}}</td>
                        <td>{{this.customerpaidrent}}</td>
                        <td>{{this.customerpaiddeposit}}</td>
                        <td>{{this.comments}}</td>
                        <td style="width: 15%"> 
                            <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-checkout" onclick="checkout({{this.id}},'{{this.customerfullname}}')" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Make Checkout
                                </a>
                        </td>
                    </tr>
                  {{/each}}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
<div class="modal fade" id="modal-checkout" style="display: none;" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content bg-danger">
    <div class="modal-header">
        <h4 class="modal-title">checkout Room</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    
    <div class="modal-body">
        <h4>Are you sure to do check out !!</h4>
         <div class="form-group">
            <label for="returenddeposit">Returend Deposit</label>
            <select class="returenddeposit custom-select" required name="returenddeposit">
                <option  value="1">Yes</option>
                <option value="0">No</option>
            </select> 
        </div>
        <div class="form-group deductdepositreasoncontainer" style="display: none;">
            <label for="deductdepositreason">Why Deposit Not Returend</label>
            <br/>
            <span class="fielderror">This field is required!</span>
            <textarea class="deductdepositreason form-control"  name="deductdepositreason"></textarea> 
        </div>
        <div class="form-group">
            <label for="blacklistcustomer">BlackListe Customer</label>
            <select class="blacklistcustomer custom-select" required name="blacklistcustomer">
                <option  value="0">No</option>
                <option value="1">Yes</option>
            </select> 
        </div>
        <div class="form-group blacklistreasoncontainer" style="display: none;">
            
            <label for="blacklistreason">Why customer in blacklist</label>
            <br/>
            <span class="fielderror">This field is required!</span>
            <textarea class="blacklistreason form-control"  name="blacklistreason"></textarea> 
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-light checkoutroom">Confirm Check-Out</button>
    </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
    <script>
      function checkout(id,customername){
            
           
            $('.returenddeposit').change(function(){
                if($(this).val() == '0'){
                    $('.deductdepositreasoncontainer').show();
                }else{
                    $('.deductdepositreasoncontainer').hide(); 
                    $('.deductdepositreason').val('');
                }
            })
            $('.blacklistcustomer').change(function(){
                if($(this).val() == '1'){
                    $('.blacklistreasoncontainer').show();
                }else{
                    $('.blacklistreasoncontainer').hide(); 
                    $('.blacklistreason').val('');
                }
            })
            
            $('modal').addClass('show');
            $('.checkoutroom').on('click',function(){
                var returenddeposit       = $('.returenddeposit').val();
                var deductdepositreason   = $('.deductdepositreason').val();
                var blacklistcustomer     = $('.blacklistcustomer').val();
                 if(returenddeposit == '0'){
                    if(deductdepositreason == ''){
                        $('.fielderror').show();
                    }
                }
                if(blacklistcustomer == '1'){
                    var blacklistreason = $('.blacklistreason').val();
                    if(blacklistreason == ''){
                        $('.fielderror').show();
                    }else{
                        var fullcustomername = blacklistreason + '__' + customername;
                        $.post(`http://localhost:3000/allcustomers/${fullcustomername}`, function( data ) {
                            id  = id + '__'+ returenddeposit + '__'+ deductdepositreason
                               window.location= '/allcustomers/'+id;
                        })
                    }
                    
                }else{
                    id  = id + '__'+ returenddeposit + '__'+ deductdepositreason
                    window.location= '/allcustomers/'+ id;
                }
                console.log(id,customername,returenddeposit,deductdepositreason,blacklistcustomer);
               // window.location= '/allcustomers/'+id;
            })
        }
    </script>
